@{
    Layout = "_CustomLayout";
}
@model HiFiViewModel
@{
    var hiFi = Model;
    var categories = hiFi.Categories;
}
<h1>HiFi Detay</h1>
<div>
    <table class="table sm-table">
    <tr>
        <td>Ad</td>
        <td>Özellikleri</td>
        <td>Fiyat</td>
        <td>Kategori</td>
    </tr>
    <tr>
        <td>@hiFi.Name</td>
        <td>@hiFi.Properties</td>
        <td>@hiFi.Price</td>
        <td>
                <ul>
                    @foreach (var category in categories)
                    {
                        <li>@category.Name</li>
                    }
                </ul>
        </td>
    </tr>
</table>
</div>




























































@* <div>@ViewBag.HiFiObject.Id</div>
<div>@ViewBag.HiFiObject.HiFiName</div>
<div>@ViewBag.HiFiObject.Kind</div>
<div>
    @if(@ViewBag.HiFiObject.IsActive){
        <span class="text-success">Aktif</span>
        }else{
            <span class="text-danger">Pasif</span>
        }
</div> *@